<header>
    <a href="#">
        <img src="/images/logo_cinedate.png">
    </a>
    <nav>
        <a href="#"><img src="/images/icons/message.svg"></a>
        <a href="#"><img src="/images/icons/profile.svg"></a>
    </nav>
</header>