<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
        <% include ../partials/header.ejs %>
    <h1>404</h1>
    <h2>Woepsie! Deze pagina bestaat niet</h2>
    <p>Ga terug naar je<a href="/">feed</a></p>
</body>
</html>