<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
        <% include ../partials/header.ejs %>
    <main>
        <h1>404</h1>
        <h1>Woepsie! Deze pagina bestaat niet</h1>
        <h1>Ga terug naar je <a href="/">feed</a></ph1>
    </main>
</body>
</html>