<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head.ejs %>

    <body>
        <% include ../partials/header.ejs %>
        <main>
            <h1>Plaats een<br>cinedate</h1>

            <form action="/" method="POST">
                <img src="/images/icons/ticket-rood.svg">
                <h2>Welke film wil je graag zien?</h2>
                <fieldset>
                        <% if (errors){ %>
                            <ul>
                                <% errors.forEach(function(error) { %>
                                    <li class="error-msg"> <%= error.msg %> </li>
                                <% }) %>
                            </ul>
                        <% } %>
                    <input type="text" id="movie_input_field" name="nameMovie" placeholder="Film, docu..">
                </fieldset>
                <button id="submit_button" class="ready" type="submit">
                    Bevestig
                </button>
            </form>
        </main>

        <script src="/js/index.js" async defer></script>
    </body>
</html>
