<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head.ejs %>

    <body>
        <% include ../partials/header.ejs %>
        <main>
            <h1>Chats</h1>

        </main>

        <script src="/js/index.js" async defer></script>
    </body>
</html>
