<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head %>

    <body>
        <% include ../partials/header %>
        <main id="feed">
        
                <% for (var i = 0; i < data.length; i++) {%>
                        <% var user = data[i]; {%>
                                <% if (user.movie != null) {%>
                                <section class="match">
                                        <section class="match-user">
                                                        <img src="/upload/<%= user.profilepicture %>" alt="gebruiker">
                                                <div class="personal-info">
                                                        <h3><%= user.firstName %></h3>
                                                        <p><%= user.age %> jaar</p>
                                                </div>
                                        </section>
                                        <section class="match-movie">
                                                <div class="movie-info">
                                                        <p>Wil graag naar:</p>
                                                        <h3><%= user.movie %></h3>
                                                                
                                                </div>
                                        </section>
                                </section>
                                

                        <% } %>
                <% } %>
        <% } %>

        </main>
        <footer>
                        <a id="add-date-button" href="adddate">Date toevoegen</a>
        </footer>
        
    </body>
</html>