<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head %>

    <body>
        <% include ../partials/header %>
        <main>
            <section class="match">
                <section class="match-user">
                        <img src="images/thumbnail1.png">
                        <div class="personal-info">
                                <h3>Sanne</h3>
                                <p>23 jaar</p>
                        </div>
                </section>
                <section class="match-movie">
                        <div class="movie-info">
                                <p>Wil graag naar:</p>
                                <h3>Avengers Endgame</h3>
                                
                        </div>
                </section>
            </section>

            <section class="match">
                    <section class="match-user">
                            <img src="images/thumbnail2.png">
                            <div class="personal-info">
                                    <h3>Merel</h3>
                                    <p>22 jaar</p>
                            </div>
                    </section>
                    <section class="match-movie">
                            <div class="movie-info">
                                    <p>Wil graag naar:</p>
                                    <h3>Gone Girl</h3>
                                    
                            </div>
                    </section>
                </section>

                <a id="add-date-button" href="adddate">Date toevoegen</a>
        </main>
        <script src="/js/index.js" async defer></script>
    </body>
</html>