<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head %>

    <body>
        <section class="login-register-container">
                <img class="login-logo" src="/images/logo_cinedate.png">
                <form method="POST" action="/login">
                        <h2>Inloggen</h2>
                    <fieldset>
                                <% if (errors){ %>
                                    <ul>
                                        <% errors.forEach(function(error) { %>
                                            <li class="error-msg"> <%= error.msg %> </li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            <label for="email">E-mail</label>
                            <input type="text" id="email_input_field" name="email" placeholder="name@mail.com">

                            <label for="user-name">Wachtwoord</label>
                            <input type="password" id="password_input_field" name="password" placeholder="wachtwoord..">
                    </fieldset>
                    <button id="submit_button" class="ready" type="submit" value="go to feed">
                        Inloggen
                    </button>
                    <a class="second-button" href="/registreren">Registreren</a>
                </form>
                <div class="accordion vertical">
                    <ul>
                        <li>
                            <input type="checkbox" id="checkbox-1" name="checkbox-accordion" />
                            <label for="checkbox-1">Wat is Cinedate?</label>
                            <div class="content">
                                <p>Ben jij op zoek naar een leuke movie date? Dan ben je bij Cinedate aan het juiste adres.
                                    Vind een leuk iemand die naar jouw favoriete film wil gaan. Zit jouw film er niet tussen? 
                                    Plaats dan zelf een advertentie zodat mensen jou kunnen vinden!
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>    
        </section>
        
        
        <script src="/js/index.js" async defer></script>
    </body>
</html>