<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head.ejs %>

    <body>
        <% include ../partials/header.ejs %>
        <main>
            <h1>Profiel</h1>

            <section>
                
            </section>
        </main>

        <script src="/js/index.js" async defer></script>
    </body>
</html>
