<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head.ejs %>

    <body>
        <% include ../partials/header.ejs %>
        <% if (user) { %>
        <section id="profile-container">
            <img src="/upload/<%= user.profilepicture %>" alt="gebruiker">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <h2><%= user.age + " jaar" %></h2>
        </section>
        <% } %>

        <script src="/js/index.js" async defer></script>
    </body>
</html>
