<!DOCTYPE html>
    <html lang="en">
        <% include ../partials/head.ejs %>

    <body>
        <% include ../partials/header.ejs %>
        <% if (user) { %>
        <section id="profile-container">
            <img src="/upload/<%= user.profilepicture %>" alt="gebruiker">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <h2><%= user.age + " jaar" %></h2>
        </section>
        <% if (user.movie != null) {%>
            <section id="profile-movie">
                    <p>Wil graag naar:</p>
                    <h3><%= user.movie %></h3>
            </section>
        <% } %>
        <% } %>
        
        <section id="profile-footer">
        <a href="/logout" class="link-to-delete">Uitloggen</a>
        <a href="/deleteAccount" class="link-to-delete">Account verwijderen</a>
        </section>
        
        <script src="/js/index.js" async defer></script>
    </body>
</html>
